#chart-container {
/*	width: 1000px; 
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
*/
	padding: 20px 30px;

}

#invdollars {
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       width: 20%;
}

#chart-container h2 {
	color: #444;
	margin: 0 0 10px;
	font-weight: 300;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

#investments {
	width: 940px; 
	height: 150px;
	margin-left: 0px;
	margin-top: 40px;
	background: rgba(255,255,255,0.5);
}

#inv_scale {
        margin-top: 10px;
	float: left;
}

#lownumber {
	   margin-top: 30px;
}

#midnumber {
	   margin-top: 30px;
}

#highnumber {
	   margin-top: 20px;
}

#investments > span {
    margin:10px;
    float:left; 
}

.invclass {
    height:120px; 
    float:left; 
    margin: 10px;
}

.invtitle {
    position: relative;
    left: -20px;
    top: -30px;
}


#thanks {
	width: 1000px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

#modelinfo {
	width: 1000px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: rgba(230,230,230,0.5);
	padding: 20px;
}


svg {
	font-family: 'Lato', Arial, serif;
	font-size: 10px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

text.country-title {
	font-size: 20px;
}

text.instructions {
	font-size: 16px;
}

g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

g.context g.axis path {
	stroke-opacity: 0;
}

g.context g.axis line {
	stroke-opacity: .1;
}

g.roi path.chart {
	fill: rgba(0,255,0,0.5);
}

g.investment_dollars path.chart {
	fill: rgba(50,50,255,0.5);
}

g.technical_debt path.chart {
	fill: rgba(255,0,0,0.7);
}

g.govbucks_out path.chart {
	fill: rgba(0,0,0,0.5);
}

g.usa path.chart {
	fill: rgba(171,127,201,0.5);
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}​